<!-- The navigations view (Author: George White) -->
<nav class="navbar" role="navigation" aria-label="Main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <span class="navbar-header">Gamemaster</span>
    </div>
    <a role="button" class="navbar-burger" aria-label="Menu" aria-expanded="false" (click)="showMenu = !showMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="showMenu? 'is-active' : ''">
    <div class="navbar-end">
      <a [routerLink]="['/game', gameId]" class="navbar-item" style="color: green">
        Switch to Player View
      </a>
      <a (click)="changeScreen(Screens.OVERVIEW);"
         [ngClass]="{'is-active': screen === Screens.OVERVIEW}"
         class="navbar-item">
        Overview
      </a>
      <a (click)="changeScreen(Screens.TEAMS);"
         [ngClass]="{'is-active': screen === Screens.TEAMS}"
         class="navbar-item">
        Teams
      </a>
      <a (click)="changeScreen(Screens.QUESTIONS)"
         [ngClass]="{'is-active': screen === Screens.QUESTIONS}"
         class="navbar-item">
        Questions
      </a>
      <a (click)="changeScreen(Screens.LOCATIONS)"
         [ngClass]="{'is-active': screen === Screens.LOCATIONS}"
         class="navbar-item">
        Locations
      </a>
      <a class="navbar-item" (click)="signOut()">
        Sign out
      </a>
    </div>
  </div>
</nav>

<!---------------------------------------------------------------------------
  SCREEN CONTAINER

  The container for a shown view
  @author AlexWesterman
---------------------------------------------------------------------------->
<div [ngSwitch]="screen" class="container">


  <!---------------------------------------------------------------------------
    LOST POP UP

    The pop up dialog for notifying the game master that a team is lost
    @author OGWSaunders
  ---------------------------------------------------------------------------->
  <section *ngSwitchCase="Screens.OVERVIEW" class="section" id="overview">
    <div class="">
      <div class="box">
        <h5 class="subtitle is-5">Game ID</h5>
        <h2 class="title is-2">{{gameId}}</h2>
        <p class="content">Take note of this code, as players will need it later to join this game</p>
      </div>
      <app-scoreboard [teams]="this.teams"></app-scoreboard>
    </div>
    <app-map id="map"
             [lostTeams]="lostTeams">
    </app-map>
    <!-- The lost alert popup (Author: OGWSanders) -->
    <div *ngIf="displayLost" class="holder" id="lostAlert">
      <div id="lostAlertDisplay">
        <div id="titleLostDialog"><strong>Some teams have reported as lost</strong></div>
        <div id="lostTeamText">Lost Teams:<br/>{{lostTeamsText}}</div>
        <button (click)="displayLost = false" class="button is-danger">Close dialog</button>
      </div>
    </div>
  </section>


  <!---------------------------------------------------------------------------
    LOCATIONS

    Allows the gamemaster to add and edit locations where they want players to
    visit.
    @author AlexWesterman
  ---------------------------------------------------------------------------->
  <section *ngSwitchCase="Screens.LOCATIONS" class="section" id="locationsView">
    <table class="table questionTable is-fullwidth">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Hint</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <!-- Loop through all locations and add them to the table -->
      <tr *ngFor="let item of locations; let i = index" [attr.data-index]="i">
        <td><input (blur)="updateLocation(i)" [(ngModel)]="item.name" name="locName" type="text"></td>
        <td><textarea (blur)="updateLocation(i)" [(ngModel)]="item.description"></textarea></td>
        <td><textarea (blur)="updateLocation(i)" [(ngModel)]="item.hint"></textarea></td>
        <td><input (blur)="updateLocation(i)" [(ngModel)]="item.latitude" name="locLat" type="text"></td>
        <td><input (blur)="updateLocation(i)" [(ngModel)]="item.longitude" name="locLong" type="text"></td>

        <td class="editCell">
          <fa-icon (click)="displayLocQrCode(item.name)" [icon]="qrCodeIcon" class="locationAction"></fa-icon>
          <fa-icon (click)="editLocation(item)" [icon]="editIcon" class="locationAction"></fa-icon>
          <fa-icon (click)="deleteLocation(item.name)" [icon]="deleteIcon"
                   class="locationAction"></fa-icon>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <td (click)="addNewLocation()" class="addNewQs" colspan="6">Add New Location</td>
      </tfoot>
    </table>

    <div *ngIf="displayLocQr" class="holder" id="qrHolder">
      <div id="locationQrCodeDisplay">
        <qrcode [errorCorrectionLevel]="'M'" [qrdata]="qrData" [width]="300"></qrcode>
        <button (click)="copyText(qrData);" class="button" id="locCopyId">Text String: {{qrData}}</button>
        <button (click)="saveQrCode()" class="button">Save image</button>
        <button (click)="displayLocQr = false" class="button">Close dialog</button>
      </div>
    </div>

    <div *ngIf="displayLocDesc" class="holder" id="descriptionHolder">
      <div id="locationDescDisplay">
        <h1 class="title is-4">Edit Description</h1>
        <textarea [(ngModel)]="selectedLocation.description" cols="30" rows="10"></textarea>
        <button (click)="onSubmitEditLocation()" class="button">Submit</button>
      </div>
    </div>
  </section>

  <!-- The questions view (Author: AlexWesterman) -->
  <section *ngSwitchCase="Screens.QUESTIONS" class="section" id="questionsView">
    <div *ngFor="let item of questions | keyvalue" class="location">
      <!-- Also show location for grouping -->
      <h4 class="subtitle is-4">Location: {{item.key}}</h4>
      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th>Question</th>
          <th>Answer 1 (Correct)</th>
          <th>Answer 2</th>
          <th>Answer 3</th>
          <th>Answer 4</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through each question in that location -->
          <tr *ngFor="let question of item.value">
            <td><input (blur)="updateQuestion(item.key)" [(ngModel)]="question.question" name="question" type="text">
            </td>
            <td><input (blur)="updateQuestion(item.key)" [(ngModel)]="question.answer.correct" name="correct"
                       style="color:lightgreen" type="text"></td>
            <td><input (blur)="updateQuestion(item.key)" [(ngModel)]="question.answer.incorrect0" name="incorrect0"
                       style="color:coral" type="text"></td>
            <td><input (blur)="updateQuestion(item.key)" [(ngModel)]="question.answer.incorrect1" name="incorrect1"
                       style="color:coral" type="text"></td>
            <td><input (blur)="updateQuestion(item.key)" [(ngModel)]="question.answer.incorrect2" name="incorrect2"
                       style="color:coral" type="text"></td>
            <td (click)="deleteQuestion(item.key, question.question)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
        <td (click)="addNewQuestion(item.key)" colspan="6" style="text-align: center; cursor: pointer;">+ Add a new
          question
        </td>
        </tfoot>
      </table>
    </div>
  </section>

  <!-- The teams view (Author: TomRHandcock) -->
  <section *ngSwitchCase="Screens.TEAMS" class="section" id="teamsView">
    <table class="table teamsTable is-fullwidth">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
      <th>ID
        <fa-icon [icon]="sortIcon"></fa-icon>
      </th>
      <th>Team Name
        <fa-icon [icon]="sortIcon"></fa-icon>
      </th>
        <th>Score <fa-icon [icon]="sortIcon"></fa-icon></th>
        <th class="is-1">Actions</th>
      </thead>
      <tr *ngFor="let team of teams" class="is-hoverable">
        <td>{{team.id}}</td>
        <td><input (blur)="updateTeam(team.id)" [(ngModel)]="team.name" name="teamName" type="text"></td>
        <td><input (blur)="updateTeam(team.id)" [(ngModel)]="team.score" name="teamScore" type="number"></td>
        <td>
          <fa-icon class="teamEdit" [icon]="mapIcon"></fa-icon>
          <fa-icon class="teamEdit" [icon]="editIcon"></fa-icon>
          <fa-icon (click)="deleteTeam(team.id)" [icon]="deleteIcon" class="teamEdit"></fa-icon>
        </td>
      </tr>
      <tfoot>
      <td (click)="addNewTeam()" colspan="6" style="text-align: center; cursor: pointer;">+ Add a new team</td>
      </tfoot>
    </table>
  </section>
</div>
