<!-- The navigations bar (Author: George White) -->
<nav class="navbar is-fixed-top" role="navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <span class="navbar-header">{{this.teamData.name}}</span>
    </div>
    <a class="navbar-burger" role="button" aria-label="Toggle navigation" (click)="showMenu = !showMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="showMenu? 'is-active' : ''">
    <div class="navbar-end">
      <a class="navbar-item" *ngIf="this.isAGamemaster;" style="color:green" (click)="this.goToGamemaster();">Gamemaster Control</a>
      <a class="navbar-item" (click)="this.changeScreen(this.screens.PROGRESS); showMenu = false">Our Progress</a>
      <a class="navbar-item" style="color:red">I'm Lost</a>
      <a class="navbar-item" style="color:red">Help and Support</a>
      <a class="navbar-item" style="color:red">Settings</a>
      <a class="navbar-item" (click)="signOut()">Sign out</a>
    </div>
  </div>
</nav>

<ng-container [ngSwitch]="this.screen">
  <!---------------------------------------------------------------------------
    HOME

    This is the first screen the user sees, presents the map, next location and
    clue information
    @author galexite, AlexWesterman
  ---------------------------------------------------------------------------->
  <main *ngSwitchCase="this.screens.HOME" class="container home-container has-navbar-fixed-top">
    <!-- The map -->
    <section class="element map-section" id="mapSection">
      <app-map class="flex-grow"></app-map>
    </section>
    <!-- The description of the next location -->
    <section class="element" id="clueSection">
      <div>
        <h6 class="is-small is is-uppercase">Next Location</h6>
        <h3 class="subtitle is-3 next-location">{{this.currTarget.name}}</h3>
        <div class="next-info">
          <p class="content">{{currTarget.description}}</p>
          <!-- Only show if hint is unlocked -->
          <div *ngIf="isShowingHint" class="next-loc-info">
            <h5 class="is-5">
              Hint
            </h5>
            <p class="content">{{currTarget.hint}}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- The QR camera opener (Author: OGWSaunders) -->
    <button (click)="this.changeScreen(this.screens.QR_SCANNER)" class="button is-primary">
      <span class="icon is-small">
        <fa-icon [icon]="scanQrCodeIcon"></fa-icon>
      </span>
      <span>Scan QR code</span>
    </button>

    <!-- The bottom buttons (Author: AlexWesterman) -->
    <div class="button-bar" id="playerButtonBar">
      <button (click)="this.showHint();" class="button is-primary">
        <span>Request Hint</span>
      </button>
      <button (click)="openUniWebsite()" class="button is-primary">
        <span class="icon is-small">
          <fa-icon [icon]="visitWebsiteIcon"></fa-icon>
        </span>
        <span>UoE Website</span>
      </button>
    </div>
  </main>


  <!---------------------------------------------------------------------------
      PROGRESS

      Reached by selecting the item from the navigation bar
  ---------------------------------------------------------------------------->
  <main *ngSwitchCase="this.screens.PROGRESS" class="container progress-container has-navbar-fixed-top">
    <!-- The title section -->
    <div class="columns">
      <div class="column is-full">
        <h1 class="title is-1">Your Current Progress</h1>
      </div>
    </div>
    <!-- The table of entries -->
    <div class="columns">
      <table class="table column is-full flex-grow">
        <tbody>
          <tr>
            <td class="row-heading">Score</td>
            <td class="row-value">{{this.teamData.score}}</td>
          </tr>

          <!-- Some example entries that we may choose to implement -->
          <tr>
            <td class="row-heading">Locations Complete</td>
            <td class="row-value">{{this.teamData.locationsCompleted}}</td>
          </tr>
          <tr>
            <td class="row-heading">Hints Used</td>
            <td class="row-value">{{this.teamData.hintsUsed}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- A button to return back to the home screen -->
    <div role="button" class="is-primary button" id="progressBack" (click)="this.changeScreen(this.screens.HOME)">
      <span class="icon is-small">
        <fa-icon [icon]="homeIcon"></fa-icon>
      </span>
      <span>Back to Home</span>
    </div>
  </main>


  <!---------------------------------------------------------------------------
    QR SCANNER

    Available when the user is near a location where they can scan a QR code
    to begin the quiz for that location
    @author OGWSaunders
  ---------------------------------------------------------------------------->
  <main *ngSwitchCase="this.screens.QR_SCANNER" class="container qrScanner-container has-navbar-fixed-top">
    <app-qr-scanner (qrCode)="onQrCodeScanned($event)"></app-qr-scanner>
    <!-- A button to return to the home view -->
    <div role="button" class="is-primary button" id="qrScannerBack" (click)="this.changeScreen(this.screens.HOME);">
      <span class="icon is-small">
        <fa-icon [icon]="homeIcon"></fa-icon>
      </span>
      <span>Back to Home</span>
    </div>
  </main>


  <!---------------------------------------------------------------------------
    QUIZ

    The answer screen (Author: AlexWesterman, TomRHandcock)
    Refactored out in to app-quiz
    @author galexite
  ---------------------------------------------------------------------------->
  <app-quiz
    (finalScore)="onQuizFinalScore($event)"
    *ngSwitchCase="this.screens.ANSWER_QS"
    [questions]="currTarget.questions"
    [teamId]="teamId"
    class="container has-navbar-fixed-top">
  </app-quiz>

  <!---------------------------------------------------------------------------
    FINISHED GAME DIALOG

    This dialog pop-up thing shows when the team the user is on has completed
    all the locations available.
    @author TomRHandcock
  ---------------------------------------------------------------------------->
  <main id="finishedDialog" *ngIf="finishedQuiz">
    <div>
      <h1 class="title is-1">You have finished the game!</h1>
      <h2 class="title is-2">Your score: {{this.teamData.score}}</h2>
      <h2 class="title is-2">Head back to the start to see the rankings.</h2>
    </div>
  </main>
</ng-container>
