<nav class="navbar" role="navigation" aria-label="Main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <span class="navbar-header">Gamemaster</span>
    </div>
    <a role="button" class="navbar-burger" aria-label="Menu" aria-expanded="false" (click)="showMenu = !showMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="showMenu? 'is-active' : ''">
    <div class="navbar-end">
      <a class="navbar-item" (click)="changeScreen(this.Screens.TEAMS);">
        Teams
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.QUESTIONS)">
        Questions
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.LOCATIONS)">
        Locations
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.QR)">
        QR Generation
      </a>
      <a class="navbar-item" (click)="signOut()">
        Sign out
      </a>
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="this.screen">
  <section id="overview" *ngSwitchCase="this.Screens.OVERVIEW">
    <div class="element map" id="playerMap">Map will go here</div>
    <div class="element scoreboard" id="scoreboard">Scoreboard</div>
    <div class="qrcode">
      <qrcode [qrdata]="myQrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
  </section>

  <section class="section" id="locationsView" *ngSwitchCase="this.Screens.LOCATIONS">
    <table class="table questionTable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>QR Code</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.locations">
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.name">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.latitude">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.longitude">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.qrCode">
          </td>
          <td class="editCell" (click)="this.deleteLocation(this.numToString(item.name))">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="6" class="addNewQs" (click)="this.addNewLocation()">Add New Location</td>
      </tfoot>
    </table>
  </section>

  <section id="QRView" *ngSwitchCase="this.Screens.QR">
    <div id="qrPicture" class="qr qrPic"></div>
    <div id="qrString" class="qr box"></div>
    <button class="button is-primary qr" style="text-align: center;">Generate New QR Code</button>
  </section>

  <section class="section" id="questionsView" *ngSwitchCase="this.Screens.QUESTIONS">
    <div class="location" *ngFor="let item of this.questions | keyvalue">
      <h4 class="subtitle is-4">Loc: {{item.key}}</h4>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer 1 (Correct)</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th>Answer 4</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let questions of item.value">
            <td contenteditable="true"
              [(textContent)]="questions.question">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.correct"
              style="color: green">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect0"
              style="color: coral">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect1"
              style="color: coral">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect2"
              style="color: coral">
            </td>
            <td (click)="deleteQuestion(numToString(item.key), questions.question)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td [colSpan]="6" class="addNewQs" (click)="addNewQuestion(numToString(item.key))">Add New Question...</td>
        </tfoot>
      </table>
    </div>
  </section>

  <section id="teamsView" *ngSwitchCase="this.Screens.TEAMS">
  </section>
</div>
