<!-- The navigations view (Author: George White) -->
<nav class="navbar" role="navigation" aria-label="Main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <span class="navbar-header">Gamemaster</span>
    </div>
    <a role="button" class="navbar-burger" aria-label="Menu" aria-expanded="false" (click)="showMenu = !showMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" [ngClass]="showMenu? 'is-active' : ''">
    <div class="navbar-end">
      <a class="navbar-item" (click)="this.gotoPlayerView();">
        Player View
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.OVERVIEW);">
        Overview
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.TEAMS);">
        Teams
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.QUESTIONS)">
        Questions
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.LOCATIONS)">
        Locations
      </a>
      <a class="navbar-item" (click)="changeScreen(this.Screens.QR)">
        QR Generation
      </a>
      <a class="navbar-item" (click)="signOut()">
        Sign out
      </a>
    </div>
  </div>
</nav>

<!-- The container for a shown view (uses ngSwitch to change content as appropriate)
     (Author: AlexWesterman) -->
<div class="container" [ngSwitch]="this.screen">
  <section class="section" id="overview" *ngSwitchCase="this.Screens.OVERVIEW">
    <app-scoreboard></app-scoreboard>
    <app-map></app-map>
  </section>

  <!-- The locations view (Author: AlexWesterman) -->
  <section class="section" id="locationsView" *ngSwitchCase="this.Screens.LOCATIONS">
    <table class="table questionTable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>QR Code</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through all locations and add them to the table -->
        <tr *ngFor="let item of this.locations">
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.name">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.latitude">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.longitude">
          </td>
          <td class="editCell"
            contenteditable="true"
            [(textContent)]="item.qrCode">
          </td>
          <td class="editCell" (click)="this.deleteLocation(this.numToString(item.name))">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td colspan="6" class="addNewQs" (click)="this.addNewLocation()">Add New Location</td>
      </tfoot>
    </table>
  </section>

  <!-- The QR code view (Author: AlexWesterman) -->
  <section id="QRView" *ngSwitchCase="this.Screens.QR">
    <table class="qr">
      <tr id="qrCode" *ngIf="this.qrData">
        <qrcode [qrdata]="this.qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
      </tr>
      <tr id="qrString">{{this.qrData}}</tr>

      <tr>
        <button id="qrButton" class="button is-primary">
          <span class="icon is-small">
            <fa-icon [icon]="qrCodeIcon"></fa-icon>
          </span>
          <span (click)="this.generateQRCode()">Generate New QR Code</span>
        </button>
      </tr>
    </table>
  </section>

  <!-- The questions view (Author: AlexWesterman) -->
  <section class="section" id="questionsView" *ngSwitchCase="this.Screens.QUESTIONS">
    <div class="location" *ngFor="let item of this.questions | keyvalue">
      <!-- Also show location for grouping -->
      <h4 class="subtitle is-4">Location: {{item.key}}</h4>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Question</th>
            <th>Answer 1 (Correct)</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th>Answer 4</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through each question in that location -->
          <tr *ngFor="let questions of item.value">
            <td contenteditable="true"
              [(textContent)]="questions.question">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.correct"
              style="color: green">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect0"
              style="color: coral">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect1"
              style="color: coral">
            </td>
            <td contenteditable="true"
              [(textContent)]="questions.answer.incorrect2"
              style="color: coral">
            </td>
            <td (click)="deleteQuestion(numToString(item.key), questions.question)">
              <fa-icon [icon]="deleteIcon"></fa-icon>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td [colSpan]="6" class="addNewQs" (click)="addNewQuestion(numToString(item.key))">Add New Question...</td>
        </tfoot>
      </table>
    </div>
  </section>

  <!-- The teams view (Author: TomRHandcock) -->
  <section class="section" id="teamsView" *ngSwitchCase="this.Screens.TEAMS">
    <table class="table teamsTable is-fullwidth">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
        <th>ID <fa-icon [icon]="sortIcon"></fa-icon></th>
        <th>Team Name <fa-icon [icon]="sortIcon"></fa-icon></th>
        <th>Score <fa-icon [icon]="sortIcon"></fa-icon></th>
        <th class="is-1">Actions</th>
      </thead>
      <tr *ngFor="let team of this.teams" class="is-hoverable">
        <td [(textContent)]="team.ID"></td>
        <td><input type="text" name="teamName" [(ngModel)]="team.name" (blur)="this.updateTeam(team.ID)"></td>
        <td><input type="number" name="teamScore" [(ngModel)]="team.score" (blur)="this.updateTeam(team.ID)"></td>
        <td>
          <fa-icon class="teamEdit" [icon]="mapIcon"></fa-icon>
          <fa-icon class="teamEdit" [icon]="editIcon"></fa-icon>
          <fa-icon class="teamEdit" [icon]="deleteIcon" (click)="this.deleteTeam(team.ID)" ></fa-icon>
        </td>
      </tr>
      <tfoot>
        <td style="text-align: center; cursor: pointer;" colspan="6" (click)="this.addNewTeam()">+ Add a new team</td>
      </tfoot>
    </table>
  </section>
</div>
