.element {
  margin: 1% 1% 0 1%;
  height: 95vh;
  border: 2px solid white;
  background-color: #ADCBE9;
}

.map {
  width: 70%;
  float: left;
}

.scoreboard {
  width: 25%;
  float: right;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  background: white;
  align-items: center;
  height: 3em;
}

.navbar button {
  border: none;
  background: none;
  font-size: 1.2em;
  padding: 0.5em 0.7em;
}
