.location h4 {
  color: white;
}

.teamsTable {
  table-layout: auto;
}

.teamsTable > colgroup > col {
  width: auto;
}

.teamsTable > colgroup > col:nth-of-type(4) {
  width: 15%;
}

.addNewQs {
  text-align: center;
}

.qr {
  width: 50vh;
  margin: 5px auto auto;
}

.qrPic {
  border: 2px solid white;
  height: 50vh;
}