<section class="element" id="mapSection">Map will go here</section>
<section class="element" id="clueSection">
  <div class="next-location"><b>Next Location:</b></div>
  <div class="next-clue">This is some placeholder text that will represent where the description and next clue is for the next location.</div>
</section>
<div class="button-bar">
  <div class="element menu-button">
    <fa-icon [icon]="scanQrCodeIcon"></fa-icon>
    Scan QR code
  </div>
</div>
<div class="button-bar" id="playerButtonBar">
  <div class="element menu-button">Request Hint</div>
  <div class="element menu-button">
    <fa-icon [icon]="visitWebsiteIcon"></fa-icon>
    UoE Website
  </div>
</div>
