<div class="container" id="container">
  <div class="element" id="playerMap" style="height: 60vh">Map will go here</div>
  <div class="element" id="clueDesc" style="height: 37vh; text-align: center">
    <div class="nextLocation"><b>Next Location:</b></div>
    <div class="nextClue">This is some placeholder text that will represent where the description and next clue is for the next location.</div>
  </div>

  <div class="container" id="playerMenu">
    <button class="element menuButton" style="float: left;">Request Hint</button>
    <button class="element menuButton" style="float: right;">UoE Website</button>
  </div>
</div>
