<nav class="navbar">
  <button class="navbar-toggler" type="button" aria-label="Toggle navigation" (click)="toggleMenu()">
    <fa-icon *ngIf="showMenu" [icon]="closeIcon"></fa-icon>
    <fa-icon *ngIf="!showMenu" [icon]="menuIcon"></fa-icon>
  </button>
  <div class="navbar-brand">
    Team C
  </div>
  <div class="progress" (click)="openProgress()">
    Score: {{this.score}}
  </div>
</nav>

<div *ngIf="showMenu" class="menu">
  <ul>
    <li (click)="openProgress(); showMenu = false">Our Progress</li>
    <li style="color:red">I'm Lost</li>
    <li style="color:red">Help and Support</li>
    <li style="color:red">Settings</li>
    <li (click)="signOut()">Sign out</li>
  </ul>
</div>

<ng-container [ngSwitch]="this.screen">
   <!-- The home screen -->
  <main *ngSwitchCase="'home'" class="container home-container">
    <!-- The map -->
    <section class="element" id="mapSection">Map will go here</section>
    <!-- The description of the next location -->
    <section class="element" id="clueSection">
      <h2 class="next-location">Next Location</h2>
      <div class="next-clue">This is some placeholder text that will represent where the description and next clue is for the next location.</div>
    </section>

    <div role="button" class="button">
      <fa-icon [icon]="scanQrCodeIcon"></fa-icon>
      Scan QR code
    </div>

    <!-- The bottom buttons -->
    <div class="button-bar" id="playerButtonBar">
      <div role="button" class="button">Request Hint</div>
      <div role="button" class="button">
        <fa-icon [icon]="visitWebsiteIcon"></fa-icon>
        UoE Website
      </div>
    </div>
  </main>

  <!-- The progress screen -->
  <main *ngSwitchCase="'progress'" class="container progress-container">
    <h1>Your Current Progress</h1>
    <!-- TODO - there is a massive gap between above and below - <br> has the same effect? -->
    <!-- The table of entries -->
    <table class="element">
      <tr>
        <td class="row-heading">Score</td>
        <td class="row-value">{{this.score}}</td>
      </tr>

      <!-- Some example entries that we may choose to implement -->
      <tr>
        <td class="row-heading">Locations Complete</td>
        <td class="row-value">0</td>
      </tr>
      <tr>
        <td class="row-heading">Hints Used</td>
        <td class="row-value">0</td>
      </tr>
    </table>

    <div role="button" class="button" id="progressBack" (click)="returnHome()">
      <fa-icon [icon]="homeIcon"></fa-icon>
      Back to Home
    </div>
  </main>
</ng-container>
