.element {
  margin: 1% 1% 0 1%;
  border: 2px solid white;
  background-color: #ADCBE9;
}

.container {
  font-family: "Arial Black", sans-serif;
}

.menuButton {
  height: 8%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 48%;
  background-color: #0078B5;
  font-size: 24px;
}
