<main xmlns="http://www.w3.org/1999/html" [ngSwitch]="this.screen">
  <!---------------------------------------------------------------------------
    USERNAME AND PASSWORD LOGIN FORM

    Asks the user for their username and password for the game, or allows them
    to follow a link to create a new account or get help logging in.
    @author TomRHandcock

    Added in a loading element and simple spinner to let the user know the screen may change
    @author AlexWesterman
    @version 2
    -------------------------------------------------------------------------->
  <section id="loginSection" *ngSwitchCase="this.Screens.LOGIN">
    <p style="text-align: center; color: red; font-size: 24px" *ngIf="this.loading">Loading - Please Wait...
      <span class="icon is-medium is-centered loadingSpinner">
        <fa-icon [icon]="spinnerIcon"></fa-icon>
      </span>
    </p>

    <form id="loginForm">
      <div class="fields">
        <p class="loginFeedback" *ngIf="loginError == 'Password Incorrect'">Incorrect password</p>
        <p class="loginFeedback" *ngIf="loginError == 'Email not found'">User not found</p>
        <p class="loginFeedback" *ngIf="loginError == 'Argument Error'">Ensure all fields are filled</p>
        <p class="loginFeedback" *ngIf="loginError == 'Invalid Email'">Invalid Email</p>
        <input [(ngModel)]="loginEmail" name="email" pattern="[a-z|A-Z|0-9]+@[a-z|A-Z|0-9]+\.[a-z|.]{2,}$"
               placeholder="Email"
               required type="email">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="loginPassword" required>
        <input (click)="onLoginPressed()" name="loginSubmit" type="submit" value="Login">
        <input (click)="changeScreen(this.Screens.PRIVACY_POLICY)" name="createAccount" type="button"
               value="Create Account">

      </div>
      <div class="formExtras">
        <div style="margin: 0.6em 0; text-align: center">Alternatively, sign in anonymously:</div>
        <button (click)="onAnonymousSignIn()">Sign in without Account</button>
        <div class="links">
          <a>Help logging in</a>
        </div>
      </div>
    </form>
  </section>


  <!---------------------------------------------------------------------------
    CREATE NEW ACCOUNT FORM

    Allows the user to create a new account for use in the game.
    @author TomRHandcock
    -------------------------------------------------------------------------->
  <section id="createSection" *ngSwitchCase="this.Screens.CREATING_ACCOUNT">
    <form id="createForm">
      <div class="fields">
        <input type="email" name="email" placeholder="Email" [(ngModel)]="createEmail">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="createPassword">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="createConfirmPassword">
      </div>
      <div class="formExtras">
        <input type="submit" (click)="onCreationPressed()" name="createSubmit" value="Create Account">
        <div class="links">
          <a (click)="changeScreen(this.Screens.LOGIN)">Return to Login Page</a>
        </div>
      </div>
    </form>
  </section>


  <!---------------------------------------------------------------------------
    TEAM CONNECTION

    Displayed when the user has not yet joined a team (whether they have just
    registered or have logged in).
    @author galexite

    Now displays team ids as a drop-down box
    @author AlexWesterman
    @version 2
    -------------------------------------------------------------------------->
  <section id="teamIdSection" *ngSwitchCase="this.Screens.TEAM_ID">
    <form id="teamIdForm">
      <div class="fields">
        <p class="content">
          If you are joining an existing game, please select the unique team ID you've been given.
        </p>
        <select [(ngModel)]="selectedTeam" class="is-primary allTeams" name="teamSelect">
          <ng-container *ngFor="let gameId of objectKeys(games)">
            <optgroup label="Game {{gameId}}">
              <option *ngFor="let team of games[gameId]"
                      [selected]="teamId == team.teamId"
                      [value]="gameId + '\t' + team.teamId">
                {{team.teamId}} ({{team.teamName}})
              </option>
            </optgroup>
          </ng-container>
        </select>
        <input type="submit" (click)="onJoinTeam()" name="loginSubmit" value="Join team">
      </div>
      <div class="formExtras">
        <div style="text-align: center; margin: 0.6em 0">
          Or, if you'd like to create a new game:
        </div>
        <input (click)="onCreateNewGame()" name="createNewGame" type="button" value="Create a new game">
        <div class="links">
          <a (click)="changeScreen(this.Screens.LOGIN)">Return to Login Page</a>
        </div>
      </div>
    </form>
  </section>

  <!---------------------------------------------------------------------------
    PRIVACY POLICY

    This view is for space for the user to input the game pin or create a new
    game.
    @author AlexWesterman
  ---------------------------------------------------------------------------->
  <section id="privacyPolicy" *ngSwitchCase="this.Screens.PRIVACY_POLICY">
    <div class="policyContainer">
      <div class="fields">
        <!-- The title content -->
        <h2 class="title is-2">Privacy Policy</h2>
        <!-- The text content -->
        <p class="content">
          Due to GDPR we need your permission for us to store data about you for use with this app.
        </p>
        <p class="content">
          We will need a username for use in leaderboards.
        </p>
        <p class="content">
          We also need access to your location via GPS to track your progress on the map, this data will only be held
          while the app is in use, and once closed will be removed.
        </p>
      </div>
      <!-- Send the user back to the account creation screen -->
      <div class="formExtras">
        <input (click)="changeScreen(this.Screens.CREATING_ACCOUNT)" name="return" type="button"
               value="Accept and Continue">
      </div>
    </div>
  </section>
</main>
