<main>
  <!-- This is for the login form -->
  <section id='loginSection' [ngStyle]="{display: (creatingAccount ? 'none' : 'grid')}">
    <form id='loginForm'>
      <div class="fields">
        <p class="loginFeedback" *ngIf="(loginError == 'Password Incorrect')">Incorrect password</p>
        <p class="loginFeedback" *ngIf="(loginError == 'Email not found')">User not found</p>
        <p class="loginFeedback" *ngIf="(loginError == 'Argument Error')">Ensure all fields are filled</p>
        <p class="loginFeedback" *ngIf="(loginError == 'Invalid Email')">Invalid Email</p>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="loginEmail" pattern="[a-z|A-Z|0-9]+@[a-z|A-Z|0-9]+\.[a-z|.]{2,}$" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="loginPassword" required>
      </div>
      <div class="formExtras">
        <input type="submit" (click)="onLoginPressed()" name="loginSubmit" value="Login">
        <input type="button" (click)="onCreatePressed()" name="createAccount" value="Create Account">
        <div class='links'><a>Privacy Policy</a> · <a>Help logging in</a></div>
      </div>
    </form>
  </section>
  <!-- This is for the account creation form -->
  <section id='createSection' [ngStyle]="{display: (creatingAccount ? 'grid' : 'none')}">
    <form id='createForm'>
      <div class="fields">
        <input type="text" name="email" placeholder="Email" [(ngModel)]="createEmail">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="createPassword">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="createConfirmPassword">
      </div>
      <div class="formExtras">
        <input type="button" (click)="onCreationPressed()" name="createSubmit" value="Create Account">
        <div class='links'><a>Privacy Policy</a> · <a>Help logging in</a></div>
      </div>
    </form>
  </section>
</main>
