<main xmlns="http://www.w3.org/1999/html" [ngSwitch]="this.screen">
  <!-- This is for the login form -->
  <section id="loginSection" *ngSwitchCase="this.Screens.LOGIN">
    <form id="loginForm">
      <div class="fields">
        <p class="loginFeedback" *ngIf="loginError == 'Password Incorrect'">Incorrect password</p>
        <p class="loginFeedback" *ngIf="loginError == 'Email not found'">User not found</p>
        <p class="loginFeedback" *ngIf="loginError == 'Argument Error'">Ensure all fields are filled</p>
        <p class="loginFeedback" *ngIf="loginError == 'Invalid Email'">Invalid Email</p>
        <input type="email" name="email" placeholder="Email" [(ngModel)]="loginEmail" pattern="[a-z|A-Z|0-9]+@[a-z|A-Z|0-9]+\.[a-z|.]{2,}$" required>
        <input type="password" name="password" placeholder="Password" [(ngModel)]="loginPassword" required>
      </div>
      <div class="formExtras">
        <input type="submit" (click)="onLoginPressed()" name="loginSubmit" value="Login">
        <input type="button" (click)="changeScreen(this.Screens.PRIVACY_POLICY)" name="createAccount" value="Create Account">
        <div class="links">
          <a>Help logging in</a>
        </div>
      </div>
    </form>
  </section>
  <!-- This is for the account creation form -->
  <section id="createSection" *ngSwitchCase="this.Screens.CREATING_ACCOUNT">
    <form id="createForm">
      <div class="fields">
        <input type="text" name="email" placeholder="Email" [(ngModel)]="createEmail">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="createPassword">
        <input type="password" name="confirmPassword" placeholder="Confirm Password" [(ngModel)]="createConfirmPassword">
      </div>
      <div class="formExtras">
        <input type="button" (click)="onCreationPressed()" name="createSubmit" value="Create Account">
        <div class="links">
          <a>Help logging in</a>
        </div>
      </div>
    </form>
  </section>

  <section id="privacyPolicy" *ngSwitchCase="this.Screens.PRIVACY_POLICY">
    <div class="privacyTitle">
      <u>Privacy Policy</u>
    </div>
    <div class="privacyText">
      <b>
      Due to GDPR we need your permission for us to store data about you for use with this app.
      <br><br>We will need a username for use in leaderboards.
      <br><br>We also need access to your location via GPS to track your progress on the map, this data will only be held while the app is in use, and once closed will be removed.
      </b>
      <br><br>
      <input type="button" (click)="changeScreen(this.Screens.CREATING_ACCOUNT)" name="return" value="Accept and Continue">
    </div>
  </section>
</main>
