@charset "utf-8";

@import '_variables';
@import '~bulma';

body {
  padding: 0;
  margin: 0;
  // Older browsers
  // Newer browsers, gradient!
  background: #0078b5 linear-gradient(to bottom, #0078b5 0%, #006abc 100%);
  min-height: 100vh;
  font-family: $family-sans-serif;
}

.navbar-header {
  font-weight: bold;
  font-size: 1.2em;
}

.container.has-navbar-fixed-top {
  padding-top: $navbar-height !important;
}

.is-hoverable:hover {
  background-color: #f3f3f3;
}
