@charset 'utf8';

@import '_variables';
@import '~bulma';

body {
  padding: 0;
  margin: 0;
  background-color: #0078b5; // Older browsers
  background: linear-gradient(to bottom, #0078b5 0%,#006abc 100%); // Newer browsers, gradient!
  min-height: 100vh;
  font-family: $family-sans-serif;
}

.navbar-header {
  font-weight: bold;
  font-size: 1.2em;
}

.is-hoverable:hover {
  background-color: #f3f3f3;
}